.boxall{
    padding: 3px;
    display: flex;
}

.boxInfo{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    flex: 3;
}
.boxInfo span{
    font-weight: 500;
}
.boxInfo span a{
    font-size: 11px;
    color:rgb(160, 78, 160);
}
.boxInfo h3{
    font-weight: 490;
    font-size: 0.8rem;
}
.chartInfo{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
}
.chart{
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .1rem;
    font-size: 0.8rem;
}
.text span{
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}